:root{
    --main-color : #20D8DA;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
  }
  .nav, .nav-two {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
  }
  .nav-two {
    top: 60px;
  }
  .search {
    width: 50%;
  }
  .nav .fa-magnifying-glass {
    right: 30px;
    top: 14px;
    font-size: 14px;
    transition: color, 0.5s;
    &:hover{
        color: var(--main-color) !important;
    }
  }
  
  .nav .btnnn {
  background-color: transparent !important;
  border: none !important; 
  color: white;
  transition: color , 0.5s;
  &:hover{
    color: #d46767;
  }
  }
  
  .nav button {
    transition:  background-color, 0.5s;
    &:hover{
        background-color: black;
        border: none !important;
    }
  }
  
  .nav h3 {
    font-family: "Open Sans", sans-serif;
  }
  
  ul {
    list-style-type: none;
  }
  
  .nav-two ul li a{
    text-decoration: none;
    font-weight: 500;
    transition: color, 0.5s !important;
    &:hover {
        color: var(--main-color) !important;
    }
  }
  
  .nav-two a {
    text-decoration: none;
    transition: color, 0.5s !important;
    &:hover {
        color: var(--main-color) !important;
    }
  }
  
  
  /* End Navbar */
  .game-review-section {
    background-image: url('../Media/batman-gotham-city-raining-4k-wallpaper-uhdpaper.com-28@5@a.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 100px;
    }
  
    .game-review-content {
    display: flex;
    align-items: center;
    color: white;
    align-items: start;
    }
    .game-review-link {
    display: flex;
    text-decoration: none; 
  }
  
    .game-review-line {
    width: 3px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin-right: 15px;
    align-items: start;
    }
  
    .game-review-text {
    font-size: 32px;
    font-weight: bold;
    text-align: start;
  }

.articles  .imgs{
    position: relative;
  }
  .articles .playstation {
    height: 50%;
  }
  
  .articles .playstation2 {
      top: 46%;
      left: 180px;
      width: 200px;
      position: absolute;
  }
  
  .article-img img {
    transition: transform,0.5s;
    border-radius: 5px;
  }
  .articles .article-img:hover img{
    transform: scale(1.1);
  }

  /* Footer */
.footer .item a {
    text-decoration: none;
    color: #9e9999;
    transition: color, 0.5s;
    line-height: 2;
    &:hover{
      color: var(--main-color) !important;
    }
  }
  
  .footer .item ul li {
    margin-bottom: 5px;
  }
  
  .footer .item p {
    line-height: 30px;
    color: #9e9999;
  }
  
  .footer2 p {
    transition: color,0.5s;
    cursor: pointer;
    font-size: 15px;
    &:hover{
      color: var(--main-color) !important;
    }
  }  
  
  .footer2 span {
    transition: color,0.5s;
    cursor: pointer;
    font-size: 15px;
    &:hover{
      color: var(--main-color) !important;
    }
  }  
  
  
  .footer2 li a {
    text-decoration: none;
  
    transition: color, 0.5s;
    &:hover{
      color: var(--main-color) !important;
    }
  }
  
  .footer {
    background-image: url(../Media/320f34995da73be0b9b645ed34e756eb.jpg);
    background-size: cover;
  }
  
  
  .footer2 p,a,span {
    color: #9e9999;
  }

  /* Responsive */
@media screen and (max-width: 991px) {
  .nav-right {
    position: relative;
    top: -30px;
  }
  .search {
    width: 30%;
  }
  .nav .fa-magnifying-glass {
    right: 35px;
    top: 14px;
    font-size: 14px;
    
  }
  .game-review-section {
    height: 45vh;
  }
}