:root{
  --main-color : #20D8DA;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}
.nav, .nav-two {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}
.nav-two {
  top: 60px;
}
.search {
  width: 50%;
}
.nav .fa-magnifying-glass {
  right: 30px;
  top: 14px;
  font-size: 14px;
  transition: color, 0.5s;
  &:hover{
      color: var(--main-color) !important;
  }
}

.nav .btnnn {
background-color: transparent !important;
border: none !important; 
color: white;
transition: color , 0.5s;
&:hover{
  color: #d46767;
}
}

.nav button {
  transition:  background-color, 0.5s;
  &:hover{
      background-color: black;
      border: none !important;
  }
}

.nav h3 {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
}

.nav-two ul li a{
  text-decoration: none;
  font-weight: 500;
  transition: color, 0.5s !important;
  &:hover {
      color: var(--main-color) !important;
  }
}

.nav-two a {
  text-decoration: none;
  transition: color, 0.5s !important;
  &:hover {
      color: var(--main-color) !important;
  }
}


/* End Navbar */



.game-nav {
  background-image: url(../Media/320f34995da73be0b9b645ed34e756eb.jpg);
  background-color: #0c0f11;
  background-size: contain;
  padding: 50px 0;
}

.game-nav ul li .nav-link {
  color: white !important;
  margin-bottom: 30px;
}

.nav-pills .nav-link.active {
  background-color: #0b93e2  !important ;
}




/* slider  */
.slider {
  /* background-image: url(../Media/189cee7f99e2f4959556127601d01dc5.jpg); */
  /* background-size: cover; */
  background-color: #ada5a570 !important;
}


.main a {
  background-color: var(--main-color) !important;
  border: none;
  transition: background-color, 0.5s !important ;
  &:hover{
    background-color: #000 !important;
  }
}

.card-body {
  opacity: 0;
  transition: opacity, 0.5s;
  &:hover{
    opacity: 1;
  }
}


.main .card {
  height: 50vh;
  cursor: pointer;
  box-shadow: 0 8px 12px -4px rgba(173, 113, 113, 0.2),
    0 4px 8px -2px rgba(207, 66, 66, 0.15);
  transition:transform, opacity, 0.7s ;
  opacity: 0.5;
  &:hover{
    transform: scale(1.1);
    opacity: 1;
  }
}

.card-title {
  text-align: start;
  background-color: #47424266;;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #e3b6b6;
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  
}

.playBtn {
  /* top: 200px !important; */
  left: 50%;
  transform: translateX(-50%);
  top: 240px;
}

.add {
  right: 0px;
  top: 15px;
  color:#efef71;
  border: none;
  transition: color, 0.5s;
  &:hover {
    color: #d46767 !important;
  }
}





/* swiper */
.card-body-swiper {
  opacity: 0;
  transition: opacity, 0.5s;
}
.trendingImg:hover .card-body-swiper  {
  opacity: 1;
}

.card-body-swiper .card-title {
  text-align: start;
  background-color: #47424266;;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.7rem;
  font-weight: bold;
  color: #e3b6b6;
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  top: 12px;
  left: 5px;
}
.card-body-swiper .playBtn {
  top: 120px !important;
  left: 50%;
  transform: translateX(-50%);
  
}
.card-body-swiper a {
  background-color: var(--main-color) !important;
  border: none;
  text-decoration: none;
  font-size: 0.8rem;
  transition: background-color, 0.5s !important ;
  &:hover{
    background-color: #000 !important;
  }
}

.trending .swiper-slide .trendingImg {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #00bcd4;
  height: 30vh;
  cursor: pointer;
  box-shadow: 0 8px 12px -4px rgba(173, 113, 113, 0.2),
    0 4px 8px -2px rgba(207, 66, 66, 0.15);
  transition:transform, 0.5s ;
  &:hover{
    transform: scale(1.1);
  }
}


/* @media ( max-width : 600px ){
  .trending{
      padding: 30px 10px;
  }
  .trendingTitle{
      font-size: 20px;
  }
} */


/* video slider */

.slider {
  background-color: #0c0f11 !important;
}

.video-slider-layout {
  display: flex;
  height: 70vh;
  border: 1px solid #00bcd4;
}

.video-thumbnails {
  width: 30%;
  background: #111;
  overflow-y: auto; /* تفعيل التمرير العمودي */
  padding: 10px;
  max-height: 100%; /* للحفاظ على الارتفاع */
}

.thumbnail {
  display: flex;
  margin-bottom: 15px;
  padding: 10px;
  background: #222;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
  
}

.thumbnail:hover {
  background: #444;
  transform: scale(1.02);
}

.thumbnail.active {
  background: #00bcd4;
}

.thumbnail img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 10px;
}

.thumbnail .info {
  color: #fff;
}

.thumbnail .info h4 {
  font-size: 14px;
  margin: 0 0 5px;
}

.thumbnail .info p {
  font-size: 12px;
  margin: 0;
}

.thumbnail .info span {
  font-size: 12px;
  color: #00bcd4;
}

.main-video {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  position: relative;
}

.main-video video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}


/* Footer */
.footer .item a {
  text-decoration: none;
  color: #9e9999;
  transition: color, 0.5s;
  line-height: 2;
  &:hover{
    color: var(--main-color) !important;
  }
}

.footer .item ul li {
  margin-bottom: 5px;
}

.footer .item p {
  line-height: 30px;
  color: #9e9999;
}

.footer2 p {
  transition: color,0.5s;
  cursor: pointer;
  font-size: 15px;
  &:hover{
    color: var(--main-color) !important;
  }
}  

.footer2 span {
  transition: color,0.5s;
  cursor: pointer;
  font-size: 15px;
  &:hover{
    color: var(--main-color) !important;
  }
}  


.footer2 li a {
  text-decoration: none;

  transition: color, 0.5s;
  &:hover{
    color: var(--main-color) !important;
  }
}

.footer {
  background-image: url(../Media/320f34995da73be0b9b645ed34e756eb.jpg);
  background-size: cover;
}


.footer2 p,a,span {
  color: #9e9999;
}

.articles  .imgs{
  position: relative;
}
.articles .playstation {
  height: 80%;
}

.articles .playstation2 {
    bottom: 0px;
    left: 180px;
    width: 200px;
    position: absolute;
}

.article-img img {
  transition: transform,0.5s;
  border-radius: 5px;
}
.articles .article-img:hover img{
  transform: scale(1.1);
}


/* Responsive */
@media screen and (max-width: 991px) {
  .nav-right {
    position: relative;
    top: -30px;
  }
  .search {
    width: 30%;
  }
  .nav .fa-magnifying-glass {
    right: 35px;
    top: 14px;
    font-size: 14px;
    
  }
  .video-slider-layout {
    flex-direction: column;
    height: auto;
  }

  .video-thumbnails {
    width: 100%;
    height: 40vh;
    order: 1;
    overflow-y: auto;
  }

  .main-video {
    width: 100%;
    height: auto;
    order: 2;
  }

  .main-video video {
    height: auto;
    max-height: 50vh;
  }
}